/* 
***************************************************

Style CSS for Joseph Kim's ISLT portoflio.

Change Log: 
-Added grid css layout.
-Added responsive image.
-Added media query.

Tested:  July 8, 2021; Passed on Firefox and Chrome browsers.

***************************************************
*/

.ChangeClassDarkGreen {color: #004730;}
.ChangeClassGreen {color: #006443;}

p.FirstLetter::first-letter {
        font-weight: bold;
        font-size: x-large;
        }

p.Indent {
    text-indent: 1.5em;
}

h4.FirstLetter::first-letter {
    font-weight: bolder;
    font-size: large;
}

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: [content-start] 2fr [content-end];
    grid-template-rows: auto [content-start] auto [content-end];
    grid-gap: 30px;
}

@media (min-width: 640px) {
    .grid {
        grid-template-columns: 2fr [content-start] 2fr [content-end];
    }

    .box1 {
        grid-column: 1 / 3;
        align-self: center;
        justify-self: center;
    }
    
    .box2 {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        justify-self: stretch;
    }
   
    .box3 {
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        justify-self: stretch;
    }
    
    .box4 {
        grid-column: 1;
        grid-row: 3;
        align-self: center;
        justify-self: stretch;
    }

    .box5 {
        grid-column: 2;
        grid-row: 3;
        align-self: center;
        justify-self: stretch;
    }

    .box6 {
        grid-column: 1;
        grid-row: 4;
        align-self: center;
        justify-self: stretch;
    }

    footer {
        grid-column: 1 / 3;
        grid-row: 5;
        align-self: center;
        justify-self: center;
    }

}

img {
    border: 1px solid;
    max-width: 100%;
    height: auto;
}