.ChangeClassDarkGreen {color: #004730;}
.ChangeClassGreen {color: #006443;}

p.FirstLetter::first-letter {
        font-weight: bold;
        font-size: x-large;
        }

h4.FirstLetter::first-letter {
    font-weight: bolder;
    font-size: large;
}